<ion-view style="" class=" " id="page20" title="Intro Page">
     <ion-content class="has-header" padding="true" style="background: url(img/logo/logo.jpg) center; background-size: cover;">
        <div id="page-intro" class="page-intro">
            <ion-slide-box >             
                <ion-slide>
                    <div id="slide-intro-1" class="slide-intro">
                        <div class="slide-intro-wrapper">
                            <div class="info">
                                <div class="row">
                                    <div class="col col-80 col-offset-10">
                                        <div class="logo">
                                            <span></span>
                                        </div>
                                        <p></p>
                                        <button ui-sref="categorias" class="button-get-started button button-outline button-light">
                                            Hacer Pedido
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>
